<!--[if (gte IE 9)|!(IE)]><!-->
  <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"  media="screen"/> 
	 <link rel="stylesheet" th:href="@{/webuploader/webuploader.css}" media="screen"/> 
	 <link rel="stylesheet" th:href="@{/webuploader/style.css}" media="screen"/> 
 <script th:src="@{/js/jquery.min.js}"></script> 
<script th:src="@{/js/amazeui.min.js}"></script>
<script th:src="@{/webuploader/webuploader.min.js}"></script>
<script th:src="@{/js/jquery.form.min.js}"></script>
 <script th:src="@{/js/layer/layer.js}"></script> 
<script type="text/javascript" th:src="@{/codejs/upload.js}"></script>
<script type="text/javascript" th:src="@{/js/MyDateTimeJs/datetime.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.serializejson.min.js}"></script>
<script type="text/javascript" th:src="@{/js/My97DatePicker/WdatePicker.js}"></script>